* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  color: #141414;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: uppercase;
    max-width: initial;
  }
}


